{
  "openapi": "3.1.0",
  "info": {
    "title": "YoPrint API",
    "version": "1.0.0",
    "description": "Comprehensive API documentation for YoPrint",
    "contact": {
      "name": "YoPrint Support",
      "url": "https://developer.yoprint.com",
      "email": "support@yoprint.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://yoprint.com/terms"
    }
  },
  "servers": [
    {
      "url": "https://secure.yoprint.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/v1/api/store/{team_slug}/current_user_feed": {
      "get": {
        "tags": [
          "Activity"
        ],
        "summary": "Get user activity feed",
        "description": "Retrieve the current user's activity feed with optional filtering",
        "operationId": "getActivityFeed",
        "parameters": [
          {
            "name": "team_slug",
            "in": "path",
            "required": true,
            "description": "Team slug identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "not_seen_yet",
            "in": "query",
            "required": false,
            "description": "Filter to show only unseen activities (1 for true, 0 for false)",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "show_archive",
            "in": "query",
            "required": false,
            "description": "Include archived activities (1 for true, 0 for false)",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved activity feed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for the activity feed item"
                          },
                          "seen": {
                            "type": "boolean",
                            "description": "Whether the user has seen this activity"
                          },
                          "archive": {
                            "type": "boolean",
                            "description": "Whether this activity is archived"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "When the activity feed item was created"
                          },
                          "activity": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Unique identifier for the activity"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "order",
                                  "purchase_order",
                                  "shipment",
                                  "job"
                                ],
                                "description": "Type of entity this activity relates to"
                              },
                              "action": {
                                "type": "string",
                                "enum": [
                                  "approval_approved_by_customer",
                                  "approval_changes_requested_by_customer",
                                  "approval_sent_by_user",
                                  "customer_message_bounced",
                                  "new_comment",
                                  "order_approval_approved_by_customer",
                                  "order_approval_changes_requested_by_customer",
                                  "order_approval_requested_by_user",
                                  "order_approval_sent_by_user",
                                  "order_changes_in_view_mode",
                                  "order_conversion",
                                  "order_deleted_in_view_mode",
                                  "order_restored",
                                  "order_pending_reminder_sent",
                                  "purchase_order_changes",
                                  "purchase_order_message_bounced",
                                  "purchase_order_received_add",
                                  "purchase_order_received_remove",
                                  "received_customer_message",
                                  "received_customer_payment",
                                  "received_purchase_order_message",
                                  "received_user_payment",
                                  "status_change"
                                ],
                                "description": "The action that was performed"
                              },
                              "message_key": {
                                "type": "string",
                                "enum": [
                                  "job.status_change",
                                  "job.new_comment",
                                  "order.approval_approved_by_customer",
                                  "order.approval_changes_requested_by_customer",
                                  "order.approval_sent_by_user",
                                  "order.customer_message_bounced",
                                  "order.new_comment",
                                  "order.order_restored",
                                  "order.order_approval_approved_by_customer",
                                  "order.order_approval_changes_requested_by_customer",
                                  "order.order_approval_requested_by_user",
                                  "order.order_approval_sent_by_user",
                                  "order.order_changes_in_view_mode",
                                  "order.order_conversion",
                                  "order.order_deleted_in_view_mode",
                                  "order.order_pending_reminder_sent",
                                  "order.received_customer_message",
                                  "order.received_customer_payment",
                                  "order.received_user_payment",
                                  "order.status_change",
                                  "purchase_order.purchase_order_changes",
                                  "purchase_order.purchase_order_message_bounced",
                                  "purchase_order.purchase_order_received_add",
                                  "purchase_order.purchase_order_received_remove",
                                  "purchase_order.received_purchase_order_message",
                                  "purchase_order.status_change",
                                  "purchase_order.new_comment",
                                  "shipment.status_change"
                                ],
                                "description": "Translation key for the activity message"
                              },
                              "created_at": {
                                "type": "string",
                                "description": "When the activity was created"
                              },
                              "object": {
                                "type": "object",
                                "properties": {
                                  "contact": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "first_name": {
                                        "type": "string"
                                      },
                                      "last_name": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "first_name",
                                      "last_name"
                                    ]
                                  },
                                  "customer": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "name"
                                    ]
                                  },
                                  "job": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "scoped_id": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "name",
                                      "scoped_id"
                                    ]
                                  },
                                  "shipment": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "scoped_id": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "scoped_id"
                                    ]
                                  },
                                  "order": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "scoped_id": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "scoped_id"
                                    ]
                                  },
                                  "user": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "avatar_url": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "name",
                                      "avatar_url"
                                    ]
                                  },
                                  "vendor": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "name"
                                    ]
                                  },
                                  "purchase_order": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "scoped_id": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "scoped_id"
                                    ]
                                  },
                                  "restored_at": {
                                    "type": "object",
                                    "properties": {
                                      "date": {
                                        "type": "string"
                                      },
                                      "timezone": {
                                        "type": "string"
                                      },
                                      "timezone_type": {
                                        "type": "number"
                                      }
                                    },
                                    "required": [
                                      "date",
                                      "timezone",
                                      "timezone_type"
                                    ]
                                  },
                                  "changes": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "key": {
                                          "type": "string"
                                        },
                                        "new": {
                                          "oneOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "object",
                                              "properties": {
                                                "id": {
                                                  "type": "string"
                                                },
                                                "name": {
                                                  "type": "string"
                                                }
                                              },
                                              "required": [
                                                "id",
                                                "name"
                                              ]
                                            },
                                            {
                                              "type": "array",
                                              "items": {
                                                "type": "object",
                                                "properties": {
                                                  "id": {
                                                    "type": "string"
                                                  },
                                                  "name": {
                                                    "type": "string"
                                                  },
                                                  "scoped_id": {
                                                    "type": "string"
                                                  }
                                                },
                                                "required": [
                                                  "id",
                                                  "name",
                                                  "scoped_id"
                                                ]
                                              }
                                            }
                                          ]
                                        },
                                        "old": {
                                          "oneOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "object",
                                              "properties": {
                                                "id": {
                                                  "type": "string"
                                                },
                                                "name": {
                                                  "type": "string"
                                                }
                                              },
                                              "required": [
                                                "id",
                                                "name"
                                              ]
                                            },
                                            {
                                              "type": "array",
                                              "items": {
                                                "type": "object",
                                                "properties": {
                                                  "id": {
                                                    "type": "string"
                                                  },
                                                  "name": {
                                                    "type": "string"
                                                  },
                                                  "scoped_id": {
                                                    "type": "string"
                                                  }
                                                },
                                                "required": [
                                                  "id",
                                                  "name",
                                                  "scoped_id"
                                                ]
                                              }
                                            }
                                          ]
                                        },
                                        "type": {
                                          "type": "string",
                                          "enum": [
                                            "date",
                                            "string",
                                            "user",
                                            "changes_only",
                                            "add_link",
                                            "remove_link",
                                            "vendor",
                                            "address"
                                          ]
                                        }
                                      },
                                      "required": [
                                        "key",
                                        "new",
                                        "old",
                                        "type"
                                      ]
                                    }
                                  },
                                  "team": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "name"
                                    ]
                                  },
                                  "from": {
                                    "type": "string"
                                  },
                                  "to": {
                                    "type": "string"
                                  },
                                  "from_status": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "role": {
                                        "type": "string",
                                        "enum": [
                                          "order",
                                          "quote",
                                          "job",
                                          "purchase_order",
                                          "pipeline",
                                          "shipment",
                                          "customer_message"
                                        ]
                                      },
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "start",
                                          "in_progress",
                                          "end",
                                          "pre_production",
                                          "failure_end"
                                        ]
                                      },
                                      "label": {
                                        "type": "string"
                                      },
                                      "customer_label": {
                                        "type": "string"
                                      },
                                      "color": {
                                        "type": "string"
                                      },
                                      "position": {
                                        "type": "number"
                                      },
                                      "trashed": {
                                        "type": "boolean"
                                      },
                                      "pipeline_id": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "role",
                                      "type",
                                      "label",
                                      "customer_label",
                                      "color",
                                      "position",
                                      "trashed"
                                    ]
                                  },
                                  "to_status": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "role": {
                                        "type": "string",
                                        "enum": [
                                          "order",
                                          "quote",
                                          "job",
                                          "purchase_order",
                                          "pipeline",
                                          "shipment",
                                          "customer_message"
                                        ]
                                      },
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "start",
                                          "in_progress",
                                          "end",
                                          "pre_production",
                                          "failure_end"
                                        ]
                                      },
                                      "label": {
                                        "type": "string"
                                      },
                                      "customer_label": {
                                        "type": "string"
                                      },
                                      "color": {
                                        "type": "string"
                                      },
                                      "position": {
                                        "type": "number"
                                      },
                                      "trashed": {
                                        "type": "boolean"
                                      },
                                      "pipeline_id": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "role",
                                      "type",
                                      "label",
                                      "customer_label",
                                      "color",
                                      "position",
                                      "trashed"
                                    ]
                                  },
                                  "count": {
                                    "type": "number"
                                  }
                                },
                                "required": [],
                                "description": "Activity context object containing related entities and metadata"
                              },
                              "team": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "slug": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id",
                                  "name",
                                  "slug"
                                ],
                                "description": "Team context for the activity"
                              }
                            },
                            "required": [
                              "id",
                              "type",
                              "action",
                              "message_key",
                              "created_at",
                              "object",
                              "team"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "seen",
                          "archive",
                          "created_at",
                          "activity"
                        ]
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "number",
                          "description": "Number of items in current response"
                        },
                        "currentPage": {
                          "type": "number",
                          "description": "Current page number"
                        },
                        "perPage": {
                          "type": "number",
                          "description": "Items per page"
                        },
                        "total": {
                          "type": "number",
                          "description": "Total number of items"
                        },
                        "totalPages": {
                          "type": "number",
                          "description": "Total number of pages"
                        }
                      },
                      "required": [
                        "count",
                        "currentPage",
                        "perPage",
                        "total",
                        "totalPages"
                      ],
                      "additionalProperties": true
                    },
                    "status": {
                      "type": "number",
                      "description": "HTTP status code"
                    },
                    "success": {
                      "type": "boolean",
                      "description": "Whether the request was successful"
                    }
                  },
                  "required": [
                    "data",
                    "status",
                    "success"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/api/store/{team_slug}/current_user_feed/mark_all_as_seen": {
      "put": {
        "tags": [
          "Activity"
        ],
        "summary": "Mark all feed items as seen",
        "description": "Mark all activity feed items as seen for the current user",
        "operationId": "markAllFeedItemsAsSeen",
        "parameters": [
          {
            "name": "team_slug",
            "in": "path",
            "required": true,
            "description": "Team slug identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully marked all items as seen",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "success": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "data",
                    "success",
                    "status"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/api/store/{team_slug}/current_user_feed/mark_all_as_archive": {
      "put": {
        "tags": [
          "Activity"
        ],
        "summary": "Archive all feed items",
        "description": "Archive all activity feed items for the current user",
        "operationId": "archiveAllFeedItems",
        "parameters": [
          {
            "name": "team_slug",
            "in": "path",
            "required": true,
            "description": "Team slug identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully archived all items",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "success": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "data",
                    "success",
                    "status"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/api/store/{team_slug}/current_user_feed/seen": {
      "put": {
        "tags": [
          "Activity"
        ],
        "summary": "Mark specific feed items as seen",
        "description": "Mark specific activity feed items as seen",
        "operationId": "markFeedItemsAsSeen",
        "parameters": [
          {
            "name": "team_slug",
            "in": "path",
            "required": true,
            "description": "Team slug identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Activity feed item ID to mark as seen"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully marked items as seen",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for the activity feed item"
                          },
                          "seen": {
                            "type": "boolean",
                            "description": "Whether the user has seen this activity"
                          },
                          "archive": {
                            "type": "boolean",
                            "description": "Whether this activity is archived"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "When the activity feed item was created"
                          },
                          "activity": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Unique identifier for the activity"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "order",
                                  "purchase_order",
                                  "shipment",
                                  "job"
                                ],
                                "description": "Type of entity this activity relates to"
                              },
                              "action": {
                                "type": "string",
                                "enum": [
                                  "approval_approved_by_customer",
                                  "approval_changes_requested_by_customer",
                                  "approval_sent_by_user",
                                  "customer_message_bounced",
                                  "new_comment",
                                  "order_approval_approved_by_customer",
                                  "order_approval_changes_requested_by_customer",
                                  "order_approval_requested_by_user",
                                  "order_approval_sent_by_user",
                                  "order_changes_in_view_mode",
                                  "order_conversion",
                                  "order_deleted_in_view_mode",
                                  "order_restored",
                                  "order_pending_reminder_sent",
                                  "purchase_order_changes",
                                  "purchase_order_message_bounced",
                                  "purchase_order_received_add",
                                  "purchase_order_received_remove",
                                  "received_customer_message",
                                  "received_customer_payment",
                                  "received_purchase_order_message",
                                  "received_user_payment",
                                  "status_change"
                                ],
                                "description": "The action that was performed"
                              },
                              "message_key": {
                                "type": "string",
                                "enum": [
                                  "job.status_change",
                                  "job.new_comment",
                                  "order.approval_approved_by_customer",
                                  "order.approval_changes_requested_by_customer",
                                  "order.approval_sent_by_user",
                                  "order.customer_message_bounced",
                                  "order.new_comment",
                                  "order.order_restored",
                                  "order.order_approval_approved_by_customer",
                                  "order.order_approval_changes_requested_by_customer",
                                  "order.order_approval_requested_by_user",
                                  "order.order_approval_sent_by_user",
                                  "order.order_changes_in_view_mode",
                                  "order.order_conversion",
                                  "order.order_deleted_in_view_mode",
                                  "order.order_pending_reminder_sent",
                                  "order.received_customer_message",
                                  "order.received_customer_payment",
                                  "order.received_user_payment",
                                  "order.status_change",
                                  "purchase_order.purchase_order_changes",
                                  "purchase_order.purchase_order_message_bounced",
                                  "purchase_order.purchase_order_received_add",
                                  "purchase_order.purchase_order_received_remove",
                                  "purchase_order.received_purchase_order_message",
                                  "purchase_order.status_change",
                                  "purchase_order.new_comment",
                                  "shipment.status_change"
                                ],
                                "description": "Translation key for the activity message"
                              },
                              "created_at": {
                                "type": "string",
                                "description": "When the activity was created"
                              },
                              "object": {
                                "type": "object",
                                "properties": {
                                  "contact": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "first_name": {
                                        "type": "string"
                                      },
                                      "last_name": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "first_name",
                                      "last_name"
                                    ]
                                  },
                                  "customer": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "name"
                                    ]
                                  },
                                  "job": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "scoped_id": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "name",
                                      "scoped_id"
                                    ]
                                  },
                                  "shipment": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "scoped_id": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "scoped_id"
                                    ]
                                  },
                                  "order": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "scoped_id": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "scoped_id"
                                    ]
                                  },
                                  "user": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "avatar_url": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "name",
                                      "avatar_url"
                                    ]
                                  },
                                  "vendor": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "name"
                                    ]
                                  },
                                  "purchase_order": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "scoped_id": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "scoped_id"
                                    ]
                                  },
                                  "restored_at": {
                                    "type": "object",
                                    "properties": {
                                      "date": {
                                        "type": "string"
                                      },
                                      "timezone": {
                                        "type": "string"
                                      },
                                      "timezone_type": {
                                        "type": "number"
                                      }
                                    },
                                    "required": [
                                      "date",
                                      "timezone",
                                      "timezone_type"
                                    ]
                                  },
                                  "changes": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "key": {
                                          "type": "string"
                                        },
                                        "new": {
                                          "oneOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "object",
                                              "properties": {
                                                "id": {
                                                  "type": "string"
                                                },
                                                "name": {
                                                  "type": "string"
                                                }
                                              },
                                              "required": [
                                                "id",
                                                "name"
                                              ]
                                            },
                                            {
                                              "type": "array",
                                              "items": {
                                                "type": "object",
                                                "properties": {
                                                  "id": {
                                                    "type": "string"
                                                  },
                                                  "name": {
                                                    "type": "string"
                                                  },
                                                  "scoped_id": {
                                                    "type": "string"
                                                  }
                                                },
                                                "required": [
                                                  "id",
                                                  "name",
                                                  "scoped_id"
                                                ]
                                              }
                                            }
                                          ]
                                        },
                                        "old": {
                                          "oneOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "object",
                                              "properties": {
                                                "id": {
                                                  "type": "string"
                                                },
                                                "name": {
                                                  "type": "string"
                                                }
                                              },
                                              "required": [
                                                "id",
                                                "name"
                                              ]
                                            },
                                            {
                                              "type": "array",
                                              "items": {
                                                "type": "object",
                                                "properties": {
                                                  "id": {
                                                    "type": "string"
                                                  },
                                                  "name": {
                                                    "type": "string"
                                                  },
                                                  "scoped_id": {
                                                    "type": "string"
                                                  }
                                                },
                                                "required": [
                                                  "id",
                                                  "name",
                                                  "scoped_id"
                                                ]
                                              }
                                            }
                                          ]
                                        },
                                        "type": {
                                          "type": "string",
                                          "enum": [
                                            "date",
                                            "string",
                                            "user",
                                            "changes_only",
                                            "add_link",
                                            "remove_link",
                                            "vendor",
                                            "address"
                                          ]
                                        }
                                      },
                                      "required": [
                                        "key",
                                        "new",
                                        "old",
                                        "type"
                                      ]
                                    }
                                  },
                                  "team": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "name"
                                    ]
                                  },
                                  "from": {
                                    "type": "string"
                                  },
                                  "to": {
                                    "type": "string"
                                  },
                                  "from_status": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "role": {
                                        "type": "string",
                                        "enum": [
                                          "order",
                                          "quote",
                                          "job",
                                          "purchase_order",
                                          "pipeline",
                                          "shipment",
                                          "customer_message"
                                        ]
                                      },
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "start",
                                          "in_progress",
                                          "end",
                                          "pre_production",
                                          "failure_end"
                                        ]
                                      },
                                      "label": {
                                        "type": "string"
                                      },
                                      "customer_label": {
                                        "type": "string"
                                      },
                                      "color": {
                                        "type": "string"
                                      },
                                      "position": {
                                        "type": "number"
                                      },
                                      "trashed": {
                                        "type": "boolean"
                                      },
                                      "pipeline_id": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "role",
                                      "type",
                                      "label",
                                      "customer_label",
                                      "color",
                                      "position",
                                      "trashed"
                                    ]
                                  },
                                  "to_status": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "role": {
                                        "type": "string",
                                        "enum": [
                                          "order",
                                          "quote",
                                          "job",
                                          "purchase_order",
                                          "pipeline",
                                          "shipment",
                                          "customer_message"
                                        ]
                                      },
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "start",
                                          "in_progress",
                                          "end",
                                          "pre_production",
                                          "failure_end"
                                        ]
                                      },
                                      "label": {
                                        "type": "string"
                                      },
                                      "customer_label": {
                                        "type": "string"
                                      },
                                      "color": {
                                        "type": "string"
                                      },
                                      "position": {
                                        "type": "number"
                                      },
                                      "trashed": {
                                        "type": "boolean"
                                      },
                                      "pipeline_id": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "role",
                                      "type",
                                      "label",
                                      "customer_label",
                                      "color",
                                      "position",
                                      "trashed"
                                    ]
                                  },
                                  "count": {
                                    "type": "number"
                                  }
                                },
                                "required": [],
                                "description": "Activity context object containing related entities and metadata"
                              },
                              "team": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "slug": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id",
                                  "name",
                                  "slug"
                                ],
                                "description": "Team context for the activity"
                              }
                            },
                            "required": [
                              "id",
                              "type",
                              "action",
                              "message_key",
                              "created_at",
                              "object",
                              "team"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "seen",
                          "archive",
                          "created_at",
                          "activity"
                        ]
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "number",
                          "description": "Number of items in current response"
                        },
                        "currentPage": {
                          "type": "number",
                          "description": "Current page number"
                        },
                        "perPage": {
                          "type": "number",
                          "description": "Items per page"
                        },
                        "total": {
                          "type": "number",
                          "description": "Total number of items"
                        },
                        "totalPages": {
                          "type": "number",
                          "description": "Total number of pages"
                        }
                      },
                      "required": [
                        "count",
                        "currentPage",
                        "perPage",
                        "total",
                        "totalPages"
                      ],
                      "additionalProperties": true
                    },
                    "status": {
                      "type": "number",
                      "description": "HTTP status code"
                    },
                    "success": {
                      "type": "boolean",
                      "description": "Whether the request was successful"
                    }
                  },
                  "required": [
                    "data",
                    "status",
                    "success"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/api/store/{team_slug}/current_user_feed/archive": {
      "put": {
        "tags": [
          "Activity"
        ],
        "summary": "Archive specific feed items",
        "description": "Archive specific activity feed items",
        "operationId": "archiveFeedItems",
        "parameters": [
          {
            "name": "team_slug",
            "in": "path",
            "required": true,
            "description": "Team slug identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Activity feed item ID to archive"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully archived items",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for the activity feed item"
                          },
                          "seen": {
                            "type": "boolean",
                            "description": "Whether the user has seen this activity"
                          },
                          "archive": {
                            "type": "boolean",
                            "description": "Whether this activity is archived"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "When the activity feed item was created"
                          },
                          "activity": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Unique identifier for the activity"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "order",
                                  "purchase_order",
                                  "shipment",
                                  "job"
                                ],
                                "description": "Type of entity this activity relates to"
                              },
                              "action": {
                                "type": "string",
                                "enum": [
                                  "approval_approved_by_customer",
                                  "approval_changes_requested_by_customer",
                                  "approval_sent_by_user",
                                  "customer_message_bounced",
                                  "new_comment",
                                  "order_approval_approved_by_customer",
                                  "order_approval_changes_requested_by_customer",
                                  "order_approval_requested_by_user",
                                  "order_approval_sent_by_user",
                                  "order_changes_in_view_mode",
                                  "order_conversion",
                                  "order_deleted_in_view_mode",
                                  "order_restored",
                                  "order_pending_reminder_sent",
                                  "purchase_order_changes",
                                  "purchase_order_message_bounced",
                                  "purchase_order_received_add",
                                  "purchase_order_received_remove",
                                  "received_customer_message",
                                  "received_customer_payment",
                                  "received_purchase_order_message",
                                  "received_user_payment",
                                  "status_change"
                                ],
                                "description": "The action that was performed"
                              },
                              "message_key": {
                                "type": "string",
                                "enum": [
                                  "job.status_change",
                                  "job.new_comment",
                                  "order.approval_approved_by_customer",
                                  "order.approval_changes_requested_by_customer",
                                  "order.approval_sent_by_user",
                                  "order.customer_message_bounced",
                                  "order.new_comment",
                                  "order.order_restored",
                                  "order.order_approval_approved_by_customer",
                                  "order.order_approval_changes_requested_by_customer",
                                  "order.order_approval_requested_by_user",
                                  "order.order_approval_sent_by_user",
                                  "order.order_changes_in_view_mode",
                                  "order.order_conversion",
                                  "order.order_deleted_in_view_mode",
                                  "order.order_pending_reminder_sent",
                                  "order.received_customer_message",
                                  "order.received_customer_payment",
                                  "order.received_user_payment",
                                  "order.status_change",
                                  "purchase_order.purchase_order_changes",
                                  "purchase_order.purchase_order_message_bounced",
                                  "purchase_order.purchase_order_received_add",
                                  "purchase_order.purchase_order_received_remove",
                                  "purchase_order.received_purchase_order_message",
                                  "purchase_order.status_change",
                                  "purchase_order.new_comment",
                                  "shipment.status_change"
                                ],
                                "description": "Translation key for the activity message"
                              },
                              "created_at": {
                                "type": "string",
                                "description": "When the activity was created"
                              },
                              "object": {
                                "type": "object",
                                "properties": {
                                  "contact": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "first_name": {
                                        "type": "string"
                                      },
                                      "last_name": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "first_name",
                                      "last_name"
                                    ]
                                  },
                                  "customer": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "name"
                                    ]
                                  },
                                  "job": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "scoped_id": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "name",
                                      "scoped_id"
                                    ]
                                  },
                                  "shipment": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "scoped_id": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "scoped_id"
                                    ]
                                  },
                                  "order": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "scoped_id": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "scoped_id"
                                    ]
                                  },
                                  "user": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "avatar_url": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "name",
                                      "avatar_url"
                                    ]
                                  },
                                  "vendor": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "name"
                                    ]
                                  },
                                  "purchase_order": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "scoped_id": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "scoped_id"
                                    ]
                                  },
                                  "restored_at": {
                                    "type": "object",
                                    "properties": {
                                      "date": {
                                        "type": "string"
                                      },
                                      "timezone": {
                                        "type": "string"
                                      },
                                      "timezone_type": {
                                        "type": "number"
                                      }
                                    },
                                    "required": [
                                      "date",
                                      "timezone",
                                      "timezone_type"
                                    ]
                                  },
                                  "changes": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "key": {
                                          "type": "string"
                                        },
                                        "new": {
                                          "oneOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "object",
                                              "properties": {
                                                "id": {
                                                  "type": "string"
                                                },
                                                "name": {
                                                  "type": "string"
                                                }
                                              },
                                              "required": [
                                                "id",
                                                "name"
                                              ]
                                            },
                                            {
                                              "type": "array",
                                              "items": {
                                                "type": "object",
                                                "properties": {
                                                  "id": {
                                                    "type": "string"
                                                  },
                                                  "name": {
                                                    "type": "string"
                                                  },
                                                  "scoped_id": {
                                                    "type": "string"
                                                  }
                                                },
                                                "required": [
                                                  "id",
                                                  "name",
                                                  "scoped_id"
                                                ]
                                              }
                                            }
                                          ]
                                        },
                                        "old": {
                                          "oneOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "object",
                                              "properties": {
                                                "id": {
                                                  "type": "string"
                                                },
                                                "name": {
                                                  "type": "string"
                                                }
                                              },
                                              "required": [
                                                "id",
                                                "name"
                                              ]
                                            },
                                            {
                                              "type": "array",
                                              "items": {
                                                "type": "object",
                                                "properties": {
                                                  "id": {
                                                    "type": "string"
                                                  },
                                                  "name": {
                                                    "type": "string"
                                                  },
                                                  "scoped_id": {
                                                    "type": "string"
                                                  }
                                                },
                                                "required": [
                                                  "id",
                                                  "name",
                                                  "scoped_id"
                                                ]
                                              }
                                            }
                                          ]
                                        },
                                        "type": {
                                          "type": "string",
                                          "enum": [
                                            "date",
                                            "string",
                                            "user",
                                            "changes_only",
                                            "add_link",
                                            "remove_link",
                                            "vendor",
                                            "address"
                                          ]
                                        }
                                      },
                                      "required": [
                                        "key",
                                        "new",
                                        "old",
                                        "type"
                                      ]
                                    }
                                  },
                                  "team": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "name"
                                    ]
                                  },
                                  "from": {
                                    "type": "string"
                                  },
                                  "to": {
                                    "type": "string"
                                  },
                                  "from_status": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "role": {
                                        "type": "string",
                                        "enum": [
                                          "order",
                                          "quote",
                                          "job",
                                          "purchase_order",
                                          "pipeline",
                                          "shipment",
                                          "customer_message"
                                        ]
                                      },
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "start",
                                          "in_progress",
                                          "end",
                                          "pre_production",
                                          "failure_end"
                                        ]
                                      },
                                      "label": {
                                        "type": "string"
                                      },
                                      "customer_label": {
                                        "type": "string"
                                      },
                                      "color": {
                                        "type": "string"
                                      },
                                      "position": {
                                        "type": "number"
                                      },
                                      "trashed": {
                                        "type": "boolean"
                                      },
                                      "pipeline_id": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "role",
                                      "type",
                                      "label",
                                      "customer_label",
                                      "color",
                                      "position",
                                      "trashed"
                                    ]
                                  },
                                  "to_status": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "role": {
                                        "type": "string",
                                        "enum": [
                                          "order",
                                          "quote",
                                          "job",
                                          "purchase_order",
                                          "pipeline",
                                          "shipment",
                                          "customer_message"
                                        ]
                                      },
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "start",
                                          "in_progress",
                                          "end",
                                          "pre_production",
                                          "failure_end"
                                        ]
                                      },
                                      "label": {
                                        "type": "string"
                                      },
                                      "customer_label": {
                                        "type": "string"
                                      },
                                      "color": {
                                        "type": "string"
                                      },
                                      "position": {
                                        "type": "number"
                                      },
                                      "trashed": {
                                        "type": "boolean"
                                      },
                                      "pipeline_id": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "role",
                                      "type",
                                      "label",
                                      "customer_label",
                                      "color",
                                      "position",
                                      "trashed"
                                    ]
                                  },
                                  "count": {
                                    "type": "number"
                                  }
                                },
                                "required": [],
                                "description": "Activity context object containing related entities and metadata"
                              },
                              "team": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "slug": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id",
                                  "name",
                                  "slug"
                                ],
                                "description": "Team context for the activity"
                              }
                            },
                            "required": [
                              "id",
                              "type",
                              "action",
                              "message_key",
                              "created_at",
                              "object",
                              "team"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "seen",
                          "archive",
                          "created_at",
                          "activity"
                        ]
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "number",
                          "description": "Number of items in current response"
                        },
                        "currentPage": {
                          "type": "number",
                          "description": "Current page number"
                        },
                        "perPage": {
                          "type": "number",
                          "description": "Items per page"
                        },
                        "total": {
                          "type": "number",
                          "description": "Total number of items"
                        },
                        "totalPages": {
                          "type": "number",
                          "description": "Total number of pages"
                        }
                      },
                      "required": [
                        "count",
                        "currentPage",
                        "perPage",
                        "total",
                        "totalPages"
                      ],
                      "additionalProperties": true
                    },
                    "status": {
                      "type": "number",
                      "description": "HTTP status code"
                    },
                    "success": {
                      "type": "boolean",
                      "description": "Whether the request was successful"
                    }
                  },
                  "required": [
                    "data",
                    "status",
                    "success"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/api/store/{team_slug}/current_user_feed/unarchive": {
      "put": {
        "tags": [
          "Activity"
        ],
        "summary": "Unarchive specific feed items",
        "description": "Unarchive specific activity feed items",
        "operationId": "unarchiveFeedItems",
        "parameters": [
          {
[...]
